<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultLabel1" value="Label 1"/>
    <add key="DefaultLabel2" value="Label 2"/>
  </appSettings>
  <connectionStrings>
    <add name="AllInOneDb" connectionString="Data Source=allinone.db;Version=3;" providerName="System.Data.SQLite" />
  </connectionStrings>
</configuration>